/* make our pages be full width and full height */
/* positioned absolutely so that the pages can overlap each other as they enter and leave */
.page        {
	bottom: 0;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	border: 1px solid blue;
}